.container {
  width: 80%;
  height: 40px;
  list-style: none;
  display:flex;
  justify-content: space-evenly;
}

.container a{
  padding: 2px;
  margin:4px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  width: 4em;
  color: black;
  font: bold;
  cursor: pointer;
}

.container a:hover{
  color:white;
  background-color: deepskyblue;
}
